{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Whatsapp Go </title>
    </head>
    <body>
        <main>
            {{template "main" .}}
        </main>
    </body>
</html>
{{end}}